[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
hexbytes = "*"
eth-keys = "*"
eth-rlp = "*"
substrate-interface = "*"

[requires]
python_version = "3.7"

[scripts]
get = "python get.py"
an = "python analysis.py"
load2 = "python subscan_load.py"
load_claim = "python subscan_load_claim.py"
an2 = "python 2nd_analysis.py"
claim2 = "python 2nd_claim_analysis.py"
